asgiref==3.12.1 ; python_version >= "3.12" and python_version < "4.0"
django-filter==22.1 ; python_version >= "3.12" and python_version < "4.0"
django==4.2.30 ; python_version >= "3.12" and python_version < "4.0"
djangorestframework==3.17.2 ; python_version >= "3.12" and python_version < "4.0"
gunicorn==26.2.0 ; python_version >= "3.12" and python_version < "4.0"
pillow==10.4.0 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.6.0 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2026.3 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
